body,
html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
}

.wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 10px;
    overflow-y: auto;
}

/* HEADER Y FOOTER */

header,
footer,
header ul,
footer ul {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 203, 130);
    align-items: center;
}

header,
footer {
    padding: 5px;
}

.header ul li a,
.header div a,
.footer ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.header ul li,
.footer ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* HEADER */

.header ul li i {
    margin-right: 8px;
}

.header ul li {
    display: flex;
}

.header ul li:first-child {
    justify-content: left;
}

.header ul li:nth-child(2) {
    grid-column: 5;
}

.box-logo {
    grid-column: span 2;
}

.img-logo {
    margin-right: 10px;
}

.logo {
    margin-left: 1rem;
}

/* FOOTER */

.footer ul li:first-child {
    grid-column: 2/span 2;
}

.footer ul li {
    grid-column: span 2;
    flex-direction: column;
    font-size: small;
}

/* MAIN */

main {
    grid-column-start: 1;
    grid-column-end: -1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-cards,
.section-img {
    width: 100%;
    min-height: 0;
}

/* SECTION IMG */

.section-img {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box-img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txt {
    position: absolute;
    background: rgb(243, 203, 130);
    padding: 10px;
    border-radius: 10px;
    color: white;
    z-index: 1;
    width: 15%;
    height: 100%;
    font-size: 1.5rem;
    left: 8%;
    text-align: center;
    align-content: center;
}


/* SECTION CARDS  */

.section-cards {
    height: 70%;
    align-content: space-evenly;
}

/* CARDS */

.section-cards ul {
    display: flex;
    margin: 0 0 120px;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.card {
    width: 230px;
    height: 280px;
    margin: 5px;
    box-sizing: border-box;
    transition: transform 0.5 ease;
}

.card:hover {
    transform: scale(1.1);
}


@media only screen and (max-width: 480px) {
    .card {
        width: 150px;
        height: 200px;
    }

    .section-img {
        height: 20%;
    }

    .section-cards {
        height: 80%;
    }

    .txt {
        font-size: 0.9rem;
        width: 25%;
    }

    .img-logo{
        height: 40px;
    }

}


@media only screen and (min-width: 481px) and (max-width: 770px) {
    .card {
        width: 190px;
        height: 240px;
    }

    .section-img {
        height: 20%;
    }

    .section-cards {
        height: 80%;
    }

    .txt {
        font-size: 1rem;
        width: 20%;
    }
}

@media only screen and (min-width: 771px) and (max-width: 1050px) {
    .card {
        width: 220px;
        height: 270px;
    }

    .section-img {
        height: 30%;
    }

    .section-cards {
        height: 70%;
    }

    .txt {
        font-size: 1.5rem;
        width: 20%;
    }
}